<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="retryPolicy" class="org.apache.curator.retry.ExponentialBackoffRetry" c:baseSleepTimeMs="1000"
          c:maxRetries="3" c:maxSleepMs="10000"/>

    <bean id="curator" class="org.apache.curator.framework.CuratorFrameworkFactory" factory-method="newClient"
          c:connectString="127.0.0.1:2181" c:retryPolicy-ref="retryPolicy"/>

</beans>