<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean class="me.tony.practice.aspectj.MyAspect"/>
    <aop:aspectj-autoproxy/>

    <!--<context:component-scan base-package="me.tony.practme.tony.practice.common.aspectjectj"-->

    <bean class="me.tony.practice.aspectj.NeedValidate"/>

    <bean class="org.springframework.validation.beanvalidation.BeanValidationPostProcessor"/>

    <bean class="org.springframework.validation.beanvalidation.MethodValidationPostProcessor"/>
    <bean id="messageInterpolator" class="org.hibernate.validator.messageinterpolation.ParameterMessageInterpolator"/>

    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
        <property name="messageInterpolator" ref="messageInterpolator"/>
    </bean>


</beans>